{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "preserve",
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 120
}
